<!DOCTYPE html> <html lang="en">
<header  >
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand " style="color: #808080;" href="#"><b>BIENVENIDO A SU PORTAL</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#" style="color:#808080;" ><b>Perfil</b> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" style="color:#808080;" ><b>Reclamos asignados</b> <span class="sr-only">(current)</span></a>
          </li>              <li class="nav-item active">
            <a class="nav-link" href="#" style="color:#808080;" ><b>Historial de reclamos</b> <span class="sr-only">(current)</span></a>
          </li>              <li class="nav-item active">
            <a class="nav-link" href="#" style="color:#808080;" ><b><h5>Salir</h5></b> <span class="sr-only">(current)</span></a>
          </li>
        </ul>

      </div>

    </nav>
  </header>
<body class="container">    
    <section class="contenido wrapper">
        <div>
        <h1 class="display-4">Ejecutivo</h1>
        <p class="lead">Aqui puedes cambiar tu información personal</p>
        </div>
        <div>
            <h2>Perfil</h2>
        </div>
            <h4>Nombre</h4>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" aria-describedby="button-addon2">
            <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Editar</button>
            </div>
        </div>
            <h4>Apellido</h4>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Apellido" aria-label="Apellido" aria-describedby="button-addon2">
            <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Editar</button>
            </div>
        </div>
            <h4>Tel.</h4>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="0999999999" aria-label="090000000" aria-describedby="button-addon2">
            <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Editar</button>
            </div>
        </div>
            <h4>Correo Electronico</h4>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Ejemplo@Ejemplo.cl" aria-label="Ejemplo@Ejemplo.cl" aria-describedby="button-addon2">
            <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Editar</button>
            </div>
        </div>
        <h4>Contraseña</h4>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="********" aria-label="********" aria-describedby="button-addon2">
            <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Editar</button>
            </div>
        </div>
        <div><h6>(maximo 8 caracteres)</h6></div>
        <div><a href="" target="_self"><button type="button" class="btn btn-light" style="position: absolute; left: 10%; background-color: black; color: white;">Guardar</button></a></div>
    </section>
</body>
</html>