.container-xl{

    -webkit-box-shadow: 8px 6px 4px -1px rgba(0, 0, 0, 0.418);
    width:100%;
    background-color: rgba(255, 255, 255, 0.691);

    
   
}

    .titulo{
        background-color: #e3f2fd;
    }
    
    #fondotras{
        width:100%;
     
        margin-top: 2%;
        overflow: scroll;
    }
    .nav:hover{
        color: blue;
    }
    #fondo{
        background-color: darkgoldenrod;
        height: 900px;
    } 
    .tabla1{
        width:100%;
        background-color: #ffffff;
        margin-top: 2%;
        height: 400px;
       overflow: hidden;
      }