.boton:hover{
    background-color:#a58ff0;
  }
  
  nav ul li:hover {
    background: #a58ff0;
    }
    .button:hover {
      background-color: #fff; 
      color: #fff;
      
      }
      .container{
        margin-left: 15%;
        margin-right: 7%;
        margin-bottom: 7%;
        -webkit-box-shadow: 8px 6px 4px -1px rgba(0,0,0,0.43);
        width:100%;
        background-color: #ffffff60;
        margin-top: 2%;
        height: 300px;
    }
    .titulo{
      background-color: #e3f2fd;
  }