<html>
  
  <body class="container">
    <div class="row 40">
      <div class= "col titulo"align= "center">
          <h2><b>Portal usuario</b> </h2>
      </div>
  </div>
    <div id="fondotras">
          <div class="row fff">
              <div class="col-10">
                  <h1 style="color: #808080;">Detalle su reclamo</h1>
              </div>
          
          </div>
          <div class="row fff">
              <div class="col-10">
                  <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10" (keyup)='settext($event.target.value)'></textarea>
                  <br>
              </div>
              <div class="col-2" >
                <div id="botonesDe">
                  <div class="col-10">
                    <div class="dropdown">
                        <button id="serviciob" class="btn btn-secondary btn-block botondesp" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 150%;">
                          Categoria
                        </button>
                        <div class="dropdown-menu col-12" aria-labelledby="dropdownMenuButton">
                          <div id="elecciones">
                            <button style="width: 100%;" (click)="servicio1()" type="button" class="btn btn-light">Bienes</button><br>
                            <button style="width: 100%;" (click)="servicio2()" type="button" class="btn btn-light">Servicios</button><br>
                            <button style="width: 100%;" (click)="servicio3()" type="button" class="btn btn-light">Empleados</button>
                        </div>
                        </div>
                      </div>
                      <br>
                </div>
                </div>
              </div>
          </div>
          <div class="row fff">
              <div class="col-10">
                  <div class="dropdown">
                      <button id="lugarb" class="btn btn-secondary btn-block botondesp" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Lugar del suceso 
                      </button>
                      <div class="dropdown-menu col-12" aria-labelledby="dropdownMenuButton">
                        <div id="elecciones">
                          <button style="width: 100%;" (click)="lugar1()" type="button" class="btn btn-light">Baquedano</button><br>
                          <button style="width: 100%;" (click)="lugar2()" type="button" class="btn btn-light">Estacion central</button><br>
                          <button style="width: 100%;" (click)="lugar3()" type="button" class="btn btn-light">Tobalaba</button>
                      </div>
                      </div>
                    </div>
                    <br>
              </div>
                  <br>
                  <div class="col-10">
                      <div class="dropdown">
                          <button class="btn btn-secondary btn-block botondesp " type="button" id="notab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Nota de atención
                          </button>
                          <div class="dropdown-menu col-12" aria-labelledby="dropdownMenuButton" style="overflow: auto;">
                            <button style="width: 100%;" (click)="nota1()" type="button" class="btn btn-light">1</button><br>
                            <button style="width: 100%;" (click)="nota2()" type="button" class="btn btn-light">2</button><br>
                            <button style="width: 100%;" (click)="nota3()" type="button" class="btn btn-light">3</button><br>
                            <button style="width: 100%;" (click)="nota4()" type="button" class="btn btn-light">4</button><br>
                            <button style="width: 100%;" (click)="nota5()" type="button" class="btn btn-light">5</button><br>
                            <button style="width: 100%;" (click)="nota6()" type="button" class="btn btn-light">6</button><br>
                            <button style="width: 100%;" (click)="nota7()" type="button" class="btn btn-light">7</button><br>
                          </div>
                        </div>
                        <br>
                  </div>
                  <div class="col-2" align="center">
                    <button type="button" class="btn btn-secondary btn-lg enviar " (click)='enviarReclamo()'>ENVIAR</button>
                  
                  </div>
          </div>
          <form class="row">
            <div class="form-group col-12">
              <label for="exampleFormControlFile1" >Agregue su archivo aqui </label> <!-- cuantos archivos queremos colocar-->
              <input type="file" class="form-control-file" id="exampleFormControlFile1" style="color: white;">
            </div>

          </form>

        </div>
    </body>
</html>