.container{
    background-color: rgba(241, 241, 241, 0.513);
    -webkit-box-shadow: 8px 6px 4px -1px rgba(0,0,0,0.43);
   
 
}
.xl{
    margin-bottom: 2%;
    background-color: rgba(51, 51, 51, 0.13)s;
}

.xx{
    margin-top: 7%;
    margin-bottom: 7%;
}
.botondesp{
    color: rgb(3, 3, 2);
    background-color: cornsilk;
}
.botondesp:hover{
  background-color:#8b8b8b;
}
.check{
  tab-size: 5cm;
}
 

#botonesDe{
  
  width: 100%;
  padding: 5%;
  color: #000;
}

#elecciones{
  text-align: center;
}

#fondotras{
  background-color: rgb(255, 255, 255,0.2);
  width: 100%;
 
}
#serviciob{
  width: 100%;
}

.enviar:hover{
  background-color:#a58ff0;
}
.titulo{
  background-color: #e3f2fd;
}