<html >
  <body  id="container" >
    <div  style="background-color: rgba(255, 255, 255, 0.335); ">
      <div id="texto">
          <h2>Portal de Reclamos</h2>
          <br>
          <h6>¿Has recibido algún cobro que no corresponde? ¿Has quedado disconforme con algún servicio? ¿Has pasado por alguna situación molesta en algún local de comida? ¿Has visto algún hecho concreto de contaminación en alguna de nuestras sucursales? <br><br><strong>A través de nuestro portal puedes ingresar de manera fácil, segura y expedita tu reclamo.</strong></h6>
          <br>
          <li class="sidebar-dropdown">
              <a href="/login">
                <span>Entrar</span>
                <span><img src="https://img.icons8.com/cotton/50/000000/checked.png"></span>
                
              </a>
            </li>
      </div>
  </div>
  </body>
</html>


